/* CSS Document */



.mn-container{
	float:left; 
	list-style:none outside none;
	margin:0; 
	padding:0; 
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}

.mn-container a{
	text-decoration:none;
	color: #797979;
	float:left; 
	width:160px;
	font-size:26px;
	line-height:50px;
}

.mn-container a:hover{
	background-image:url(../image/Hover.png);
	text-decoration:none;
	color:white;
}

.mn-container li{
	float:left; 
	width:160px;
	font-size:26px;
	line-height:50px;
}
/*.mn-container li:hover{
	background-image:url(../image/Hover.png);
	color:white;
}*/
