/* CSS Document */

@charset "utf-8";
/* CSS Document */

/*Admin Home*/
body
{
	width:960px;
	min-height:1000px;
	text-align:center;
	margin:auto;
	padding:auto;
	border:1px solid #CCCCCC;
	background-image:url(../image/bg.jpg);
	background-repeat:repeat;
}
.header1
{
	width:960px;
	height:200px;
	float:left;
}
.header1_top
{
	width:960px;
	height:150px;
	float:left;
	/*background-color:#f7f7f7;*/
}
.header_top_logo
{
	position:relative;
	width:650px;
	height:150px;
	float:left;
}
.img_logo
{
	position:absolute;
	bottom:10px;
	left:2px;
}
.header_top_note
{
	position:relative;
	width:305px;
	height:150px;
	float:left;
}
.header_top_note h2
{
	position:absolute;
	top:20px;
	right:5px;
}
.header1_nav
{
	width:960px;
	height:50px;
	clear:both;
	border-radius:10px 10px 10px 10px;
	background-color:#d3d3d3;
}
.home
{
	width:158px;
	height:50px;
	float:left;
	text-decoration:none; 
	color:black;
}
.home:hover
{
	cursor:pointer;
	color:blue;
	background-color:#FFF;
}
.attendance
{
	width:158px;
	height:50px;
	float:left;
	text-decoration:none; 
	color:black;
}
.attendance:hover
{
	cursor:pointer;
	color:blue;
	background-color:#FFF;
}

.test
{
	width:158px;
	height:50px;
	float:left;
	text-decoration:none; 
	color:black;
}
.test:hover
{
	cursor:pointer;
	color:blue;
	background-color:#FFF;
}

.report
{
	width:158px;
	height:50px;
	float:left;
	text-decoration:none; 
	color:black;
}
.report:hover
{
	cursor:pointer;
	color:blue;
	background-color:#FFF;
}

.messages
{
	position:relative;
	width:158px;
	height:50px;
	float:left;
	text-decoration:none; 
	color:black;
}
.sup_msg
{
	position:absolute;
	width:158px;
	height:15px;
	float:left;
	text-align:right;
	right:30px;
}
.msglbl
{
	position:absolute;
	width:158px;
	height:35px;
	float:left;
	top:16px;
}
.messages:hover
{
	cursor:pointer;
	color:blue;
	background-color:#FFF;
}

.users
{
	width:158px;
	height:50px;
	float:left;
	text-decoration:none; 
	color:black;
}
.users:hover
{
	cursor:pointer;
	color:blue;
	background-color:#FFF;
}
.border
{
	position:relative;
	width:930px;
	height:730px;
	
	top:26px;
	left:14px;
	float:left;
}
.contaner
{	
	width:960px;
	height:750px;
	float:left;
}
.contaner_top
{
	width:960px;
	height:100px;
	float:left;
	border-bottom:1px solid #CCC;
}
.subject
{
	width:960px;
	height:50px;
	float:left;
	margin-top:5px;
	
}
.contaner_top_class
{
	position:relative;
	width:317px;
	height:50px;
	float:left;
	
	
}
.contaner_top_class1
{
	position:absolute;
	top:15px;
	left:50px;
}
.contaner_top_division
{
	position:relative;
	width:317px;
	height:50px;
	float:left;
	
}
.contaner_top_division1
{
	position:absolute;
	top:15px;
	left:50px;
	
}
.contaner_top_generate
{
	position:relative;
	width:317px;
	height:50px;
	float:left;
}
.gen
{
	position:absolute;
	top:10px;
	left:135px;
}
.contaner_bottom
{
	width:960px;
	height:650px;
	float:left;
	
	
}
.contaner_bottom_left
{
	width:700px;
	height:650px;
	float:left;
	border-right:1px solid #CCC;
}
.contaner_bottom_left_report
{
	position:relative;
	width:700px;
	height:350px;
	float:left;
	
}
.img
{
	position:absolute;
	left:50px;
}
.contaner_bottom_left_score
{
	width:700px;
	height:300px;
	float:left;
	
}
.score
{
	width:700px;
	height:50px;
	float:left;
	
}
.standard
{
	width:230px;
	height:250px;
	float:left;
	
}
.division
{
	width:230px;
	height:250px;
	float:left;
	
}
.scr
{
	width:230px;
	height:250px;
	float:left;
	
}
h1
{
	text-align:left;
	padding-left:48px;
}
.contaner_bottom_right
{
	width:255px;
	height:650px;
	float:left;
	
}
.contaner_bottom_right h1
{
	text-align:center;
	padding-left:0px;
}
.dive
{
	font-size:22px;
	width:125px;
	height:600px;
	float:left;
	
}
.per
{
	font-size:22px;
	width:125px;
	height:600px;
	float:left;
	
}

.footer
{
	
	width:960px;
	height:50px;
	clear:both;
	padding-top:15px;
	border-top:1px solid #CCC;
	
}

/*Admin New User */
.contaner_top-adminnewuser
{
	width:960px;
	height:650px;
	float:left;
}
.subject-adminnewuser
{
	width:960px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
	margin-top:5px;
}
.contaner_top_left-adminnewuser
{
	width:300px;
	height:600px;
	float:left;
	text-align:left;
	font-size:17px;
	padding-left:20px;
}
.contaner_top_right-adminnewuser
{
	width:630px;
	height:600px;
	float:left;
	text-align:left;
}
.contaner_bottom-adminnewuser
{
	width:960px;
	height:10px;
	float:left;
	margin-top:40px;
}
.contaner_top_left-adminnewuser p
{
	text-align:left;
}
.contaner_top_right-adminnewuser p
{
	text-align:left;
}

/* Admin User Listing */

.contaner_top-adminuserlisting
{
	width:960px;
	height:100px;
	float:left;
}
.subject-adminuserlisting
{
	width:960px;
	height:50px;
	float:left;
	margin-top:5px;
	border-bottom:1px solid #CCC;
	
}
.contaner_top_class-adminuserlisting
{
	width:960px;
	height:50px;
	float:left;
	background-color:#999;
}
.class1-adminuserlisting
{
	margin-left:10px;
	width:160px;
	height:50px;
	float:left;
}
.class1-adminuserlisting:hover
{
	background-color:#FFF;
}
.class2-adminuserlisting
{
	width:160px;
	height:50px;
	float:left;
	
}
.class2-adminuserlisting:hover
{
	background-color:#FFF;
}

.contaner_bottom-adminuserlisting
{
	width:960px;
	height:650px;
	border-bottom:1px solid #ccc;
	float:left;
}

.sno-adminuserlisting
{
	width:150px;
	height:650px;
	border-right:1px solid #ccc;
	float:left;
}
.sn-adminuserlisting
{
	width:150px;
	height:600px;
	border-top:1px solid #ccc;
	float:left;
}
.name-adminuserlisting
{
	width:200px;
	height:650px;
	border-right:1px solid #ccc;
	float:left;
}
.stud-adminuserlisting
{
	width:200px;
	height:600px;
	border-top:1px solid #ccc;
	float:left;
}
.role-adminuserlisting
{
	width:200px;
	height:650px;
	border-right:1px solid #ccc;
	float:left;
}
.studadm-adminuserlisting
{
	width:200px;
	height:600px;
	border-top:1px solid #ccc;
	float:left;
}
.action-adminuserlisting
{
	width:400px;
	height:650px;
	
	float:left;
}
.select-adminuserlisting
{
	width:130px;
	height:600px;
	float:left;
	border-top:1px solid #ccc;
}
.edit-adminuserlisting
{
	width:130px;
	height:600px;
	border-top:1px solid #ccc;
	float:left;

}
.delete-adminuserlisting
{
	width:130px;
	height:600px;
	float:left;
}

/*AnyTeacher Admin Attendance*/

.contaner_sub-AnyTeacherAdminAttendance
{
	width:960px;
	height:50px;
	float:left;
	margin-top:5px;
	border-bottom:1px solid #CCC;
}
.contaner_selclass-AnyTeacherAdminAttendance
{
	width:960px;
	height:100px;
	float:left;
	
}
.contaner_selclass_class-AnyTeacherAdminAttendance
{
	
	width:960px;
	height:50px;
	float:left;
	
}
.contaner_selclass_class1-AnyTeacherAdminAttendance
{
	position:relative;
	width:475px;
	height:50px;
	float:left;
	
}
.contaner_selclass_class_class-AnyTeacherAdminAttendance
{
	position:absolute;
	left:145px;
	top:15px;
}
.contaner_selclass_class2-AnyTeacherAdminAttendance
{
	position:relative;
	width:475px;
	height:50px;
	float:left;
	
}
.contaner_selclass_class_division-AnyTeacherAdminAttendance
{
	position:absolute;
	left:90px;
	top:15px;
}
.contaner_selclass_load-AnyTeacherAdminAttendance
{
	position:relative;
	width:960px;
	height:50px;
	float:left;
	
}
.contaner_selclass_load_load-AnyTeacherAdminAttendance
{
	position:absolute;
	left:415px;
	top:10px;
}
.contaner_classlable-AnyTeacherAdminAttendance
{
	width:960px;
	height:50px;
	float:left;
	
	background-color:#999;
}
.contaner_classlable_class-AnyTeacherAdminAttendance
{
	width:158px;
	height:50px;
	float:left;
	margin-left:5px;
}
.contaner_classlable_class-AnyTeacherAdminAttendance:hover
{
	background-color:#FFF;
}
.contaner_showresult-AnyTeacherAdminAttendance
{
	width:960px;
	height:500px;
	float:left;
	margin-top: 10px;
}
.index-AnyTeacherAdminAttendance
{
	width:960px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.index_rn-AnyTeacherAdminAttendance
{
	width:158px;
	height:50px;
	float:left;
	border-right:1px solid #CCC;
}
.index_name-AnyTeacherAdminAttendance
{
	width:250px;
	height:50px;
	float:left;
	border-right:1px solid #CCC;
}
.index_precense-AnyTeacherAdminAttendance
{
	width:546px;
	height:50px;
	float:left;
	
}
.stud-AnyTeacherAdminAttendance
{
	width:960px;
	height:450px;
	float:left;
	
}
.stud_rn-AnyTeacherAdminAttendance
{
	width:158px;
	height:450px;
	float:left;
	border-right:1px solid #CCC;
	max-height:450px;
	overflow:auto;
}
.stud_name-AnyTeacherAdminAttendance
{
	width:250px;
	height:450px;
	float:left;
	border-right:1px solid #CCC;
	max-height:450px;
	overflow:auto;
}
.stud_precense-AnyTeacherAdminAttendance
{
	width:540px;
	height:450px;
	float:left;
	letter-spacing:50px;
	max-height:450px;
	overflow:auto;
}
.pagination-AnyTeacherAdminAttendance
{
	width:960px;
	height:50px;
	float:left;
	border-top:1px solid #CCC;
	text-align:right;
}


/*Teacher Attendance listing*/



.contaner_top-tal
{
	width:960px;
	height:100px;
	float:left;
	
	
}
.subject-tal
{
	width:960px;
	height:50px;
	float:left;
	
}
.contaner_top_class-tal
{
	width:960px;
	height:50px;
	float:left;
	background-color:#999;
	
}
.class1-tal
{
	width:160px;
	height:50px;
	float:left;
	margin-left:5px;
	
}
.class1-tal:hover
{
	background-color:#FFF;
}
.class2-tal
{
	width:160px;
	margin-left:5px;
	height:50px;
	float:left;
	
}
.class2-tal:hover
{
	background-color:#FFF;
}

.contaner_bottom-tal
{
	width:960px;
	height:650px;
	float:left;
	
}
.contaner_bottom_left-tal
{
	width:600px;
	height:650px;
	float:left;
	border-right:1px solid #CCC;
}
.contaner_bottom_left_score-tal
{
	width:600px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report-tal
{
	width:600px;
	height:600px;
	float:left;
	
}

.contaner_bottom_left_report_sub-tal
{
	width:190px;
	height:600px;
	float:left;
	text-align:left;
	margin-left:10px;
	
}
.contaner_bottom_left_report_sub_heading-tal
{
	width:190px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report_sub_heading-tal p
{
	text-align:left;
}
.contaner_bottom_left_report_sub_name-tal
{
	width:190px;
	height:550px;
	float:left;
	
}

.contaner_bottom_left_report_test-tal
{
	width:190px;
	height:600px;
	float:left;
	text-align:left;
	margin-left:10px;
	
	
}
.contaner_bottom_left_report_test_heading-tal
{
	width:190px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report_test_heading-tal p
{
	text-align:left;
}
.contaner_bottom_left_report_test_name-tal
{
	width:190px;
	height:550px;
	float:left;
	
}

.contaner_bottom_left_report_avg-tal
{
	width:190px;
	height:600px;
	float:left;
	margin-left:5px;
	
}
.contaner_bottom_left_report_avg_heading-tal
{
	width:190px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report_avg_marks-tal
{
	width:190px;
	height:550px;
	float:left;
	
}

.contaner_bottom_right-tal
{
	width:350px;
	height:650px;
	float:left;
	
	
}
.contaner_bottom_right_top-tal
{
	width:350px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_right_topstud-tal
{
	width:350px;
	height:600px;
	float:left;
	
}

/*Teacher Home*/

@charset "utf-8";
/* CSS Document */

.contaner_top-th
{
	width:960px;
	height:100px;
	float:left;
	
	
}
.subject-th
{
	width:960px;
	height:50px;
	float:left;
	
}
.contaner_top_class-th
{
	width:960px;
	height:50px;
	float:left;
	background-color:#999;
	
}
.class1-th
{
	width:160px;
	height:50px;
	float:left;
	margin-left:5px;
	
}
.class1-th:hover
{
	background-color:#FFF;
}
.class2-th
{
	width:160px;
	margin-left:5px;
	height:50px;
	float:left;
	
}
.class2-th:hover
{
	background-color:#FFF;
}

.contaner_bottom-th
{
	width:960px;
	height:650px;
	float:left;
	
}
.contaner_bottom_left-th
{
	width:600px;
	height:650px;
	float:left;
	border-right:1px solid #CCC;
}
.contaner_bottom_left_score-th
{
	width:600px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report-th
{
	width:600px;
	height:600px;
	float:left;
	
}

.contaner_bottom_left_report_sub-th
{
	width:190px;
	height:600px;
	float:left;
	text-align:left;
	margin-left:10px;
	
}
.contaner_bottom_left_report_sub_heading-th
{
	width:190px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report_sub_heading-th p
{
	text-align:left;
}
.contaner_bottom_left_report_sub_name-th
{
	width:190px;
	height:550px;
	float:left;
	
}

.contaner_bottom_left_report_test-th
{
	width:190px;
	height:600px;
	float:left;
	text-align:left;
	margin-left:10px;
	
	
}
.contaner_bottom_left_report_test_heading-th
{
	width:190px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report_test_heading-th p
{
	text-align:left;
}
.contaner_bottom_left_report_test_name-th
{
	width:190px;
	height:550px;
	float:left;
	
}

.contaner_bottom_left_report_avg-th
{
	width:190px;
	height:600px;
	float:left;
	margin-left:5px;
	
}
.contaner_bottom_left_report_avg_heading-th
{
	width:190px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_left_report_avg_marks-th
{
	width:190px;
	height:550px;
	float:left;
	
}

.contaner_bottom_right-th
{
	width:350px;
	height:650px;
	float:left;
	
	
}
.contaner_bottom_right_top-th
{
	width:350px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_bottom_right_topstud-th
{
	width:350px;
	height:600px;
	float:left;
	
}

/*Client Parent Home*/

.contaner_top-cph
{
	width:960px;
	height:50px;
	float:left;
	padding-bottom:5px;
	border-bottom:1px solid #CCC;
}
.contaner_middle-cph
{
	width:960px;
	height:350px;
	float:left;
	border-bottom:1px solid #CCC;
}
.contaner_middle_left-cph
{
	width:475px;
	height:350px;
	float:left;
	border-right:1px solid #CCC;
	padding-top:10px;
}
.contaner_middle_right-cph
{
	width:480px;
	height:350px;
	float:left;
	
}
.contaner_middle_right_up-cph
{
	width:480px;
	height:50px;
	float:left;
	background-color:#333;
	color:white;
	margin-top:10px;
	margin-left:3px;
}
.contaner_middle_right_down-cph
{
	width:475px;
	height:300px;
	float:left;
	
}
.contaner_middle_right_down_test-cph
{
	width:235px;
	height:300px;
	float:left;
	
}
.contaner_middle_right_down_per-cph
{
	width:235px;
	height:300px;
	float:left;
	
}
.contaner_bottom-cph
{
	width:960px;
	height:350px;
	float:left;
	padding-top:5px;
	
}


/* Client Parents Results */

.contaner_top-cpr
{
	width:960px;
	height:50px;
	float:left;
	
}
.contaner_index-cpr
{
	width:960px;
	height:200px;
	float:left;
	
}
.range-cpr
{
	width:315px;
	height:200px;
	float:left;
	
}
.range_heading-cpr
{
	background-color:#333;
	color:white;
	width:315px;
	height:50px;
	float:left;
	
}
.range_det-cpr
{
	position:relative;
	width:315px;
	height:150px;
	float:left;
	
}
.range_detail-cpr
{
	position:absolute;
	left:50px;
	top:45px;
}
.testtype-cpr
{
	width:319px;
	height:200px;
	float:left;
	
}
.testtype_heading-cpr
{
	background-color:#333;
	color:white;
	width:319px;
	height:50px;
	float:left;
	
}
.testtype_det-cpr
{
	position:relative;
	width:319px;
	height:150px;
	float:left;
	;
}
.testtype_detail-cpr
{
	position:absolute;
	left:115px;
	top:45px;
}
.subsel-cpr
{
	width:320px;
	height:200px;
	float:left;
	
}
.subsel_heading-cpr
{
	background-color:#333;
	color:white;
	width:320px;
	height:50px;
	float:left;
	
}
.subsel_det-cpr
{
	position:relative;
	width:320px;
	height:150px;
	float:left;
	
}
.subsel_detail-cpr
{
	position:absolute;
	left:115px;
	top:45px;
}
.contaner_show-cpr
{
	width:960px;
	height:250px;
	float:left;
	border-bottom:1px solid #CCC;
}
.testname-cpr
{
	width:237px;
	height:250px;
	float:left;
	
}
.testname_heading-cpr
{
	background-color:#333;
	color:white;
	width:237px;
	height:50px;
	float:left;
	
}
.testname_det-cpr
{
	width:237px;
	height:200px;
	float:left;
	
}

.sub-cpr
{
	width:237px;
	height:250px;
	float:left;
	
}
.sub_heading-cpr
{
	background-color:#333;
	color:white;
	width:237px;
	height:50px;
	float:left;
	
}
.sub_det-cpr
{
	width:237px;
	height:200px;
	float:left;
	
}

.date-cpr
{
	width:238px;
	height:250px;
	float:left;
	
}
.date_heading-cpr
{
	background-color:#333;
	color:white;
	width:238px;
	height:50px;
	float:left;
	
}
.date_det-cpr
{
	width:238px;
	height:200px;
	float:left;
	
}

.avg-cpr
{
	width:240px;
	height:250px;
	float:left;
	
}
.avg_heading-cpr
{
	background-color:#333;
	color:white;
	width:240px;
	height:50px;
	float:left;
	
}
.avg_det-cpr
{
	width:240px;
	height:200px;
	float:left;
	
}

.contaner_chart-cpr
{
	width:960px;
	height:250px;
	float:left;
	margin-top:10px;
}

/*Teacher Attendance */

.contaner_top-ta
{
	width:960px;
	height:50px;
	float:left;
	
}
.contaner_middle-ta
{
	width:960px;
	height:50px;
	float:left;
	background-color:#999;
	
}
.contaner_middle_class1-ta
{
	width:160px;
	height:50px;
	float:left;
	
}
.contaner_middle_class1-ta:hover
{
	background-color:#FFF;
}
.contaner_middle_class2-ta
{
	width:160px;
	height:50px;
	float:left;
	
}
.contaner_middle_class2-ta:hover
{
	background-color:#FFF;
}

.contaner_bottom-ta
{
	width:960px;
	height:600px;
	float:left;
	
}
.index-ta
{
	width:960px;
	height:44px;
	float:left;
	border-bottom:1px solid #CCC;
}
.index_rn-ta
{
	width:158px;
	height:44px;
	float:left;
	border-right:1px solid #CCC;
}
.index_name-ta
{
	width:250px;
	height:44px;
	float:left;
	border-right:1px solid #CCC;
}
.index_precense-ta
{
	width:546px;
	height:44px;
	float:left;
	
}
.stud1-ta
{
	width:960px;
	height:44px;
	float:left;
	
}
.stud1_rn-ta
{
	width:158px;
	height:44px;
	float:left;
	border-right:1px solid #CCC;
}
.stud1_name-ta
{
	width:250px;
	height:44px;
	float:left;
	border-right:1px solid #CCC;
}
.stud1_precense-ta
{
	width:540px;
	height:44px;
	float:left;
	letter-spacing:50px;
}
.pagination-ta
{
	width:960px;
	height:50px;
	float:left;
	border-top:1px solid #CCC;
	
}


/*Teachet Test*/


.contaner_bottom-tt
{
	width:960px;
	height:700px;
	float:left;
	padding-top:50px;
	padding-left:50px;
}
.contaner_bottom_selclass-tt
{
	width:960px;
	height:115px;
	float:left;
	text-align:left;
	
}
.contaner_bottom_selclass_left-tt
{
	width:300px;
	height:115px;
	float:left;
	
}
.contaner_bottom_selclass_right-tt
{
	width:650px;
	height:115px;
	float:left;
	
}

.contaner_bottom_seldiv-tt
{
	width:960px;
	height:115px;
	float:left;
	text-align:left;
	
}
.contaner_bottom_seldiv_left-tt
{
	width:300px;
	height:115px;
	float:left;
	
}
.contaner_bottom_seldiv_right-tt
{
	width:650px;
	height:115px;
	float:left;
	letter-spacing:10px;
}

.contaner_bottom_testname-tt
{
	width:960px;
	height:115px;
	float:left;
	text-align:left;
	
}
.contaner_bottom_testname_left-tt
{
	width:300px;
	height:115px;
	float:left;
	
}
.contaner_bottom_testname_right-tt
{
	width:650px;
	height:115px;
	float:left;
	
}

.contaner_bottom_date-tt
{
	
	width:960px;
	height:115px;
	float:left;
	text-align:left;
	
}
.contaner_bottom_date_left-tt
{
	
	width:300px;
	height:115px;
	float:left;
	
}
.contaner_bottom_date_right-tt
{
	
	width:650px;
	height:115px;
	float:left;
	
}

.contaner_bottom_marks-tt
{
	width:960px;
	height:115px;
	float:left;
	text-align:left;
	
}
.contaner_bottom_marks_left-tt
{
	width:300px;
	height:115px;
	float:left;
	
}
.contaner_bottom_marks_right-tt
{
	width:650px;
	height:115px;
	float:left;
	
}

.contaner_bottom_genrate-tt
{
	position:relative;
	width:960px;
	height:115px;
	float:left;
	
}
.gen-tt
{
	position:absolute;
	left:345px;
	top:0px;
}

/*Client Home*/

.contaner_top
{
	width:960px;
	height:100px;
	float:left;
	
}
.subject
{
	width:960px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
	
}
.announcement
{
	width:960px;
	height:50px;
	float:left;
	
	color:white;
	background-color:#333;
	
}
.contaner_bottom
{
	width:960px;
	height:650px;
	float:left;
	
}
.contaner_bottom_left
{
	width:700px;
	height:650px;
	float:left;
	border-right:1px solid #CCC;
}
.contaner_bottom_left_up
{
	width:675px;
	height:280px;
	float:left;
	
	color:white;
	background-color:#333;
	border-radius:15px 15px 15px 15px;
	margin:10px 10px 10px 10px;
}
.contaner_bottom_left_down
{
	width:700px;
	height:350px;
	float:left;
	
}
.contaner_bottom_left_down_1
{
	box-shadow:10px 10px 10px #999;
	width:210px;
	height:340px;
	float:left;
	border-right:1px solid #CCC;
	margin-left:15px;
}
.news
{
	width:210px;
	height:50px;
	float:left;
	background-color:#333;
	color:white;
	
}
.news_data
{
	width:210px;
	height:290px;
	float:left;

}

.contaner_bottom_left_down_2
{
	box-shadow:10px 10px 10px #999;
	width:210px;
	height:340px;
	float:left;
	border-right:1px solid #CCC;
	margin-left:15px;
}
.announc
{
	width:210px;
	height:50px;
	float:left;
	background-color:#333;
	color:white;
	
}
.announc_data
{
	width:210px;
	height:290px;
	float:left;

}

.contaner_bottom_left_down_3
{
	box-shadow:10px 10px 10px #999;
	width:210px;
	height:340px;
	float:left;
	border-right:1px solid #CCC;
	margin-left:15px;
}
.event
{
	width:210px;
	height:50px;
	float:left;
	background-color:#333;
	color:white;
	
}
.event_data
{
	width:210px;
	height:290px;
	float:left;
}
.contaner_bottom_right
{
	width:250px;
	height:650px;
	float:left;
	
}
.login
{
	width:200px;
	height:350px;
	float:left;
	border-radius:15px 15px 15px 15px;
	box-shadow:5px 5px 5px #999;
	text-align:left;
	margin-left:25px;
	margin-top:150px;
	padding-left:5px;
	background-color:#CCC;
}
.login h3, p
{
	text-align:center;
}


/*Client Parents Attendance1*/


.contaner_top-cpa
{
	width:960px;
	height:50px;
	float:left;
	
}
.contaner_middle-cpa
{
	width:960px;
	height:350px;
	float:left;
	
}
.contaner_middle_left-cpa
{
	width:475px;
	height:350px;
	float:left;
	border-right:1px solid #CCC;
}
.contaner_middle_left_range-cpa
{
	text-align:left;
	background-color:#333;
	color:#FFF;
	width:450px;
	height:50px;
	float:left;
	padding-left:15px;
}
.contaner_middle_left_condition-cpa
{
	position:relative;
	width:475px;
	height:300px;
	float:left;
	
}
.adjustment-cpa
{
	position:absolute;
	left:115px;
	top:65px;
}
.contaner_middle_right-cpa
{
	width:475px;
	height:350px;
	float:left;
	
}
.contaner_middle_right_up-cpa
{
	width:475px;
	height:175px;
	float:left;
	
}
.contaner_middle_right_up_nod-cpa
{
	text-align:left;
	background-color:#333;
	color:#FFF;
	width:460px;
	height:50px;
	float:left;
	margin-left:10px;
	padding-left:15px;
}
.contaner_middle_right_up_data-cpa
{
	text-align:left;
	width:475px;
	height:125px;
	float:left;
	
}
.contaner_middle_right_down-cpa
{
	text-align:left;
	width:475px;
	height:175px;
	float:left;
	
}
.contaner_middle_right_down_per-cpa
{
	text-align:left;
	background-color:#333;
	color:#FFF;
	width:460px;
	height:50px;
	float:left;
	margin-left:10px;
	padding-left:15px;
}
.contaner_middle_right_down_data-cpa
{
	text-align:left;
	width:475px;
	height:125px;
	float:left;
	
}
.contaner_down-cpa
{
	width:960px;
	height:350px;
	float:left;
	text-align:left;
}
.contaner_down_left-cpa
{
	width:315px;
	height:350px;
	float:left;

}
.contaner_down_left_date-cpa
{
	background-color:#CCC;
	width:315px;
	height:50px;
	float:left;
	padding-left:15px;
}
.contaner_down_left_date-cpa p
{
	text-align:left;
}
.contaner_down_left_datedata-cpa
{
	width:315px;
	height:300px;
	float:left;
	padding-left:20px;
}
.contaner_down-cpa p
{
	text-align:left;
}
.contaner_down_middle-cpa
{
	width:315px;
	height:350px;
	float:left;
	
}
.contaner_down_middle_day-cpa
{
	background-color:#CCC;
	width:315px;
	height:50px;
	float:left;
	padding-left:15px;
}
.contaner_down_middle_daydata-cpa
{
	width:315px;
	height:300px;
	float:left;
	padding-left:20px;
}
.contaner_down_right-cpa
{
	width:315px;
	height:350px;
	float:left;
	
}
.contaner_down_right_attandance-cpa
{
	background-color:#CCC;
	width:315px;
	height:50px;
	float:left;
	padding-left:15px;
}
.contaner_down_right_attandancedata-cpa
{
	width:315px;
	height:300px;
	float:left;
	padding-left:20px;
}    


/*Teacher Test Marks*/4


.contaner_top-ttm
{
	width:960px;
	height:200px;
	float:left;
	
}
.contaner_top_middle-ttm
{
	width:960px;
	height:100px;
	float:left;
	
}
.class-ttm
{
	position:relative;
	width:317px;
	height:100px;
	float:left;
	
}
.classadj-ttm
{
	position:absolute;
	top:35px;
	left:55px;
}
.division-ttm
{
	position:relative;
	width:317px;
	height:100px;
	float:left;
	
}
.divisionadj-ttm
{
	position:absolute;
	top:35px;
	left:55px;
}

.test-ttm
{
	position:relative;
	width:317px;
	height:100px;
	float:left;
	
}
.testadj-ttm
{
	position:absolute;
	top:35px;
	left:55px;
}

.contaner_top_bottom-ttm
{
	width:960px;
	height:50px;
	float:left;
	background-color:#CCC;
	
}
.class1-ttm
{
	width:160px;
	height:50px;
	float:left;
	
}
.class1-ttm:hover
{
	background-color:#FFF;
}
.class2-ttm
{
	width:160px;
	height:50px;
	float:left;
	
}
.class2-ttm:hover
{
	background-color:#FFF;
}

.contaner_bottom-ttm
{
	width:960px;
	height:500px;
	float:left;
	
}
.contaner_bottom_left-ttm
{
	width:317px;
	height:500px;
	float:left;
	border-right:1px solid #CCC;
}
.rollno-ttm
{
	width:317px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.rollnodata-ttm
{
	width:317px;
	height:450px;
	float:left;
	
}
.contaner_bottom_middle-ttm
{
	width:317px;
	height:500px;
	float:left;
	border-right:1px solid #CCC;
}
.name-ttm
{
	width:317px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.namedata-ttm
{
	width:317px;
	height:450px;
	float:left;
	
}
.contaner_bottom_right-ttm
{
	width:317px;
	height:500px;
	float:left;
	
}
.marks-ttm
{
	width:317px;
	height:50px;
	float:left;
	border-bottom:1px solid #CCC;
}
.marksdate-ttm
{
	width:317px;
	height:450px;
	float:left;
	
}
.submit-ttm
{
	width:960px;
	height:50px;
	float:left;
}       
	   
.link-nostyle{
    text-decoration: none;
    color: black;
    font-size: 20px;
}