body{
margin: 0px; 
padding: 0px; 
background-color: #ffffff; 
font-family: Arial, Helvetica, sans-serif; 
font-size: 10pt;
}

div, ul, li, p, h1, h2, h3, h4, h5, h6, strong, span{ 
margin:0px; 
padding:0px; 
list-style:none; 
}

img{ 
border:none;
}
            
.tabcontent{ 
width:auto;  
margin:-2px 0 0 0px;
}

.hide { 
display: none;
}
            
#toggleText{ 
position:absolute; 
margin:30px 0 0 -20px;    
z-index:1;
}
            
.questionStatus{
width:auto; 
overflow:hidden; 
padding:4px 0 4px 0px; 
font-size:11px; 
border-bottom:1px #e5e5e5 solid;
}
            
.questionStatus_active{ 
background-color:#fff3d5; 
}


.previous{ 
float:left; 
}

.previous1 
{ 
float:left;
background-repeat:repeat-x;  
border:1px #bdbdbd solid; 
padding:3px 8px; 
margin:-4px 0 0 5px; 
border-radius:4px ; 
-webkit-border-radius:4px ;
-moz-border-radius:4px; 
text-decoration:none; 
color:#ADA9A5;
}

.previous a {  
background-repeat:repeat-x;  
border:1px #bdbdbd solid; 
padding:3px 8px; 
margin:0 0 0 5px; 
border-radius:4px ; 
-webkit-border-radius:4px ;
-moz-border-radius:4px; 
text-decoration:none; 
color:#000000;
}

.previous a:hover { 
background-repeat:repeat-x;  
border:1px #bdbdbd solid; 
padding:3px 8px; 
margin:0 0 0 5px; 
border-radius:4px; 
-webkit-border-radius:4px;
-moz-border-radius:4px; 
text-decoration:none; 
color:#FFF; 
background-color:#3173b4;
}

.previous-q{ 
float:left; 
margin:0 0 0 24%; 
}

.previous-q a
{  
background-repeat:repeat-x;  
border:1px #bdbdbd solid; 
padding:3px 8px;  
border-radius:4px ; 
-webkit-border-radius:4px;
-moz-border-radius:4px; 
text-decoration:none; 
color:#000000;
}

.previous-q a:hover{
background-repeat:repeat-x;  
border:1px #bdbdbd solid; 
padding:3px 8px;  
border-radius:4px ; 
-webkit-border-radius:4px ;
-moz-border-radius:4px; 
text-decoration:none; 
color:#FFF; 
background-color:#3173b4;
}

.Questions{ 
float:right; 
margin:0 5px 0 0px; 
}
            
.Questions a{
background-repeat:repeat-x;  
border:1px #bdbdbd solid; 
padding:3px 8px;  
border-radius:4px ; 
-webkit-border-radius:4px ;
-moz-border-radius:4px; 
text-decoration:none; 
color:#000000;
}
            
.Questions a:hover{
background-repeat:repeat-x;  
border:1px #bdbdbd solid; 
padding:3px 8px;  
border-radius:4px ; 
-webkit-border-radius:4px ;
-moz-border-radius:4px; 
text-decoration:none; 
color:#FFF; 
background-color:#3173b4;
}
            
.text-field{ 
width:400px; 
border:1px #cbcbcb solid; 
outline:none; 
padding:5px;
}
            
.test-text{ 
width:98%; 
text-align:center; 
background-repeat:repeat-x; 
border:1px #c3c4c6 solid; 
padding:4px 4px; 
outline:none;
}

.review{
float:right; 
background-color:#e5e5e5; 
padding:3px 8px; 
margin:0 10px 0 0px; 
border-radius:12px; 
-webkit-border-radius:12px;
-moz-border-radius:12px;  
border:1px #c2c2c2 solid; 
font-size:11px;
}

.review a{ 
text-decoration:none; 
color:#000;
}
            
.review a:hover{ 
text-decoration:none; 
color:#3e9030;
}

.previous-question{ 
width:auto;
}
            
.previous-question:hover{ 
width:auto; 
background-color:#fbfde3;
}
        
.previous-question a{ 
text-decoration:none; 
color:#000;
}

.previous-question a:hover{ 
text-decoration:none; 
color:#000;
}

#transparent{ 
width:100%; 
margin:0 auto; 
background:none; 
height:900px; 
position:fixed;
}

.end-test-popup{ 
float:left;  
width:195px; 
margin:300px 0 0 38%; 
background-color:#ffffff; 
position:absolute; 
padding:3px; 
box-shadow:0px 0px 10px #888888; 
-webkit-box-shadow:0px 0px 10px #888888; 
-moz-box-shadow:0px 0px 10px #888888; 
padding:5px 5px 15px 5px; 
}

.end-test-popup h1{
width:auto; 
background-repeat:repeat-x; 
background-color:#3173b4; 
text-align:left; 
padding:5px; 
border-bottom:1px #c0c0c0 solid; 
color:#FFF; 
font-size:10pt;
}

.end-test-popup h2{ 
width:auto; 
text-align:center; 
font-size: 13px; 
color:#4a4a4a; 
padding: 20px 0px; 
font-weight:normal;
}

.end-test-popup ul { 
width:auto; 
overflow:hidden;
}

.end-test-popup ul li a {
color:#1b2026; 
font-size:11px; 
background-repeat:repeat-x; 
float:right; 
font-weight:bold; 
margin: 0 6px 0 0px; 
text-decoration: none; 
display:block; 
background-color:#c9c9c9;  
padding: 3px 10px; 
-webkit-border-radius:2px ; 
border:1px solid #bbbbbb; 
text-shadow:0 1px 0px #FFF 
}

.end-test-popup ul li a:hover { 
color:#ffffff;
background-repeat:repeat-x; 
text-decoration: none; 
display:block; 
padding: 3px 10px;
text-shadow:0px 0px 0px #FFF
}

.review-question-box{ 
float:left;  
width:200px; 
margin:200px 0 0 35%; 
background-color:#ffffff; 
position:absolute; 
padding:3px; 
box-shadow:0px 0px 10px #888888; 
-webkit-box-shadow:0px 0px 10px #888888; 
-moz-box-shadow:0px 0px 10px #888888; 
padding:5px; 
}

.review-question-box-heading{ 
width:auto; 
background-repeat:repeat-x; 
background-color:#3173b4; 
text-align:left; padding:5px; 
border-bottom:1px #c0c0c0 solid; 
color:#FFF; font-size:10pt;
}

.review-scroll-box{ 
width:auto; 
height:160px; 
background-color:#ffffff; 
overflow:auto;
}

.review-question-row{ 
width:auto; 
}

.review-question-row ul{ 
width:auto; 
overflow:hidden; 
padding:5px;  
border-bottom:1px #cccccc solid;
}
            
.review-question-row ul li{ 
float:left; 
margin:0 20px 0 0px; 
text-align:center;
}

.review-number{ 
width:20px; 
}
            
.review-number1{ 
width:100px;  
}

.review-question-back{
background-color:#f0f0f0;
}
            
.time-test{
color:#49a824; 
font-weight:bold; 
font-size: 13px
}
            
.time-test-red{
color:#ff0000; 
font-weight:bold; 
font-size: 13px
}

.select-question{ 
width:auto;
}
            
.select-question ul{ 
width:auto; 
overflow:hidden; 
padding:4px 0px 0px 4%;
}
            
.select-question ul li{ 
float:left; 
margin:0 4% 0 0px; 
width:21%; 
text-align:center;
}

.select-question ul li.white a{ 
background-color:#FFF; 
font-size:11px; 
padding:3px 0px; 
border:1px #a5abb1 solid; 
display:block; 
text-decoration:none; 
color:#000;
}
            
.select-question ul li.blue a{ 
background-color:#9397cb; 
font-size:11px; 
padding:3px 0px; 
border:1px #7b80c7 solid; 
display:block; 
text-decoration:none; 
color:#ffffff;
}
            
.select-question ul li.green a{ 
background-color:#79c15e; 
font-size:11px; 
padding:3px 0px; 
border:1px #6cac54 solid; 
display:block; 
text-decoration:none; 
color:#ffffff;
}
            
.select-question ul li.red a{ 
background-color:#c54942; 
font-size:11px; 
padding:3px 0px; 
border:1px #a23b35 solid; 
display:block; 
text-decoration:none; 
color:#ffffff;
}

.tab-box {
float:left;
}
            
.tab-box ul {
width:auto; 
overflow:hidden; 
}
            
.tab-box ul li{ 
float:left; 
margin:0 0 0 4px;
}
            
.tab-box ul li a{ 
text-decoration:none; 
}
            
.tab-box ul li a:hover{
text-decoration:none; 
}

.tab-box1 a{ 
display:block; 
padding:4px 12px; 
border-top:1px #c2c2c2 solid; 
border-left:1px #c2c2c2 solid; 
border-right:1px #c2c2c2 solid; 
background-color:#e4e4e4;  
border-radius:4px 4px 0px 0px ; 
-webkit-border-radius:4px 4px 0px 0px ;
-moz-border-radius:4px 4px 0px 0px;
color:#9f9f9f; 
}
            
.tab-box1 a:hover{ 
display:block; 
padding:4px 12px; 
border-top:1px #c2c2c2 solid; 
border-left:1px #c2c2c2 solid; 
border-right:1px #c2c2c2 solid; 
background-color:#e4e4e4;
color:#9f9f9f; 
}
            
.tab-box2 a{ 
display:block; 
padding:4px 12px; 
border-top:1px #c2c2c2 solid; 
border-left:1px #c2c2c2 solid; 
border-right:1px #c2c2c2 solid; 
background-color:#ededed;  
border-radius:4px 4px 0px 0px ; 
-webkit-border-radius:4px 4px 0px 0px ;
-moz-border-radius:4px 4px 0px 0px; 
color:#000; 
}
            
.tab-box2 a:hover{ 
display:block; 
padding:4px 12px; 
border-top:1px #c2c2c2 solid; 
border-left:1px #c2c2c2 solid; 
border-right:1px #c2c2c2 solid; 
background-color:#ededed; 
color:#000; 
}